{% extends "layout.html" %}

{% block title %}
    My 3Depot - Upload
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<style>
          form {
            text-align: left;
            max-width: 400px;
            margin: auto;
        }

        label,
        input,
        textarea {
            display: block;
            margin-bottom: 10px;
        }
</style>

<body>
  <form action="/upload" method="post" enctype="multipart/form-data" class="mt-5">
      <label for="file">Select Image:</label>
      <input type="file" name="file" id="file" accept=".glb" required onchange="updateFilename()">

      <label for="new_filename">New Filename:</label>
      <input type="text" name="new_filename" id="new_filename" placeholder="Enter new filename" autofocus>

      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4" cols="50"></textarea>

      <button class="btn btn-light type="submit">Upload</button>
  </form>

  <script>
      function updateFilename() {
          var fileInput = document.getElementById('file');
          var newFilenameInput = document.getElementById('new_filename');
          var filename = fileInput.files[0].name;
          // Remove the file extension if needed
          newFilenameInput.value = filename.split('.').slice(0, -1).join('.');
      }
  </script>
</body>


{% endblock %}
